body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/010/551/original/background.jpg?1623432847");
}

.dateUnits, .weatherAppCurrentTemp, .forecastApp {
    background-color: #ffffff99;
    border-color: #04253e99;
    border-style: outset;
    border-width: 2px;
    border-radius: 20PX;
    box-shadow: 0 0 5px 5px #04253e60;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dateUnits {
    height: 100px;
    padding: 25px;
    margin: 50px auto 10px;
    width: 750px;   
}

.date {
    text-align: center;
    color: #84045c;
    font-size: 20px;
    padding: 15px 12px 10px 12px;   
}


.city {
    padding: 20px 0 10px 0; 
}
.weatherAppCurrentTemp {    
    height: 450px;
    padding: 10px;
    margin: 20px auto;
    width: 750px;
}

.search {
    background: none;
    background-color: none;
    border: none;
    size: 20px;
}

.magnifier-icon {
    font-size: 22px;
    color: #053470;
    padding: 0 10px 0 0;
}

.globe-icon {
    font-size: 22px;
    color: #053470;
}

.location {
    background: none;
    background-color: none;
    border: none;
  }

.unitsButton {
    background: none;
    background-color: none;
    border: none;
    font-size: 25px;
    font-weight: 400;
    color: #808080;    
    text-align: left;
    padding: 3px 12px 0 12px;
  }

  a:hover {
      text-decoration: none;
      cursor: default;
  }

.active {
    color: #84045c;    
}

.celsiusLink {
    text-decoration: none;
    }


input {
    padding: 2px 80px 2px 10px;
    margin: 30px 15px;
    text-align: left;
    border-radius: 10px;
    border-color: #04253e;
}



.weatherIcon {
    height: 100px;
   
}

.cityDescription, .weatherInfo {
    list-style: none;
    text-align: center;
    padding: 0 0 0 10px;
}

.userCity {
    color: #053470;
    font-size: 35px;
    padding: 60px 0 15px 0;
    text-transform: uppercase;
}

.weatherDesc {
    color: #808080;
    font-size: 25px;
    
}

 
.tempMaxMin {
    padding: 5px 0 30px 0;
}

.temperatureMax, .unitsMax {
    color: #053470;
    font-size: 30px;
 }

 .tempMaxMin {
    color: #8c8c8c;
    font-size: 30px;
 }
 
 
 .temperatureMin, .unitsMin {
     text-align: center;
     color: #2e856e;
     font-size: 25px;
     font-weight: 300;
}
  
.windSpeed {
    color: #8c8c8c;
    font-size: 20px;
}


.forecastApp {
    height: 200px;
    padding: 40px 35px 30px 35px;
    margin: 10px auto 50px;
    width: 750px; 

}


.days {
    color: #08535c;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
}



.temp {
    color: #5c0499; 
    padding: 10px 10px 10px 10px;
}

.forecastMin {
    color: #2e856e;
}

.col-2 {
    
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #053050;
    font-size: 12px;
    font-weight: 400;
}

.gitHubLink {
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #84045c;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 30px 0;
    text-decoration: none;
}


.gitHubLink:hover {
    color: #AAB2B1;
}